 div id img {
	text-align: center;
}



h2 {
	font-family: Arial;
	text-align: center;
	font-weight: 50px;
}


body {
	font-family: Arial;
}

a:hover {
	background-color: grey;
}

a {text-decoration: none;
	color:red;
}

td {text-align: center;
font-family: Verdana;

}

tr:hover {
	background-color: grey;
}

